.imageViewer {
  @apply h-full flex flex-col justify-center my-0 gap-4 items-center;
}

.fileButton {
  & > input {
    @apply hidden;
  }
  & > label {
    @apply inline-block px-6 py-3 bg-gray-600 text-white rounded-md cursor-pointer transition-colors duration-300 hover:bg-gray-700;
  }
}

.fileInfo {
  @apply w-full p-3 bg-gray-100 text-black rounded;
}

.fileTitle {
  @apply font-bold mb-1;
}

.fileSubtitle {
  @apply text-sm;
}

.image {
  @apply max-w-[1280px] max-h-[768px] rounded p-2 border-2 border-gray-100;
}